@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --btn-color: #5E578B;
}

@layer base {
  html {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
  }
}

@layer utilities{
  .text-xxs {
    font-size: 0.625rem;
    line-height: 1rem;
  }

  .btn-custom {
    background-color: var(--btn-color);
  }
}

@media (min-width: 768px) {
  .responsive-card {
    max-width: 24rem;
  }
  
  .responsive-image {
    height: 12rem;
  }
}